*{
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  background: linear-gradient(135deg, #111 0%, #222 100%);
  color: #fff;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}
main {
  flex: 1;
}

header {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #111 0%, #222 100%);;
  z-index: 1000;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
nav a:hover {
  color: #acaaaa;
}
header .logo a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  }
.logo a:hover{
  color: #acaaaa;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.line {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #8580804f;
  }
  /* body */
.white{
  color: white;
}  
.container1 {
  max-width: 800px;
  min-height: 60vh;
  margin: 0 auto;
  color: rgb(154, 151, 151);
  padding: 20px;
  }
  h1 {
  margin-top: 70px;
  color: white;
  font-size: 20px;
  }

  p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 20px;
  }
  .container2{
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    color: rgb(154, 151, 151);
    padding: 20px;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 70px;
    gap: 20px;
  }
  .project{
  cursor: pointer;
  color: whitesmoke;
  padding: 5px;
  background: transparent;
  border-radius: 15px;
  border: 1px solid #8580804f;
  width: 290px;
  height: 290px;
  box-shadow: 0 15px 15px rgba(40, 39, 39, 0.5);
}
.project h3{
  font-size: 18px;
  margin-top: -1px;
}
.project p{
  font-size: 14px;
  margin-top: -5px;
}
.imgb img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 280px;
  border: 1px solid rgb(154, 151, 151);
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
  /* footer */
.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}
.icon  a i{
  font-size: 20px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}
